body {
    background-color: aliceblue;
   
}

#form {
    background: #ccc;
    width: 500px;
    margin: 20px auto;
}

label {

    width: 100px;
    margin-left: 30px;
    clear: left;
    display: block;
    float: left;
}

input, textarea {
    width: 200px;
    float: left;
    margin-bottom: 10px;
    margin-left: 100px;
}

form input {
    font-family: Sitka Subheading;
    color: grey;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
.button {
    width: 20%;
    border-radius: 50%;
    border: solid lavender;
}


tbody tr:hover {
    background-color: lightgrey;
    color: mediumvioletred;
}
