body {
    background-color: lavender;
}

#logo {
    width: 70px;
    height: 70px;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: mediumpurple;
}

#logo + h1 {
    display: inline
}

ul {
    padding: 40px;
    margin-left: -8px;
    margin-right: -8px;
    list-style-type: none;
    background: white;
}

li a {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 10px;
}

li a {
    /*float: left;*/
    display: block;
    text-align: center;
    padding: 10px;
    font-family: Calibri;
}

    li a:link {
        color: mediumslateblue;
    }

    li a:visited {
        color: deeppink;
    }

    li a:hover {
        background-color: lightblue;
    }


table {
    background-color: antiquewhite;
}

table thead, tfoot{
    font-family: 'Segoe UI';
    background-color: thistle;
    color: mediumvioletred;
}

table tr{
    font-family: 'Segoe UI';
    text-align: center;
}

tbody tr:nth-child(2n+1){
    background-color: white;
}

tbody tr:nth-last-child(2n) {
    background-color: lavenderblush;
}

tbody tr:hover{
    background-color:azure;
    color:mediumvioletred
}

label {
    color:darkblue;
    font-family: 'Segoe UI';
}

form {
    text-align:center;
}

input[type=submit], input[type=reset]{
    margin-top: 20px;
    color: darkblue;    
    border-radius: 10px;
    border: 5px solid mediumvioletred;
    font-family: 'Segoe UI';
    text-align:center;
    font-style: italic;
}

input {
    font-family: 'Segoe UI';
    border-color: darkblue;
    border-radius: 5px;
    border-style: dotted;
}

#imgEdit, #imgDelete{
    width: 20px;
    height:20px;
}

